<h1>Thank You <%= verifyUsername %> for registering</h1>

<p>
  Please follow the link below to verify your email and complete your registration.
</p>

<p>
  <a href="<%= verifyHref %>"><%= verifyHref %></a>
</p>
